# Project 2 - Ames Housing Data
## Modeling Production

![House](phil-hearing-house-small.jpg)
<br>Photo by:
https://unsplash.com/photos/IYfp2Ixe9nM?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink

In [256]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression, Ridge, RidgeCV, Lasso, LassoCV
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.dummy import DummyRegressor
from sklearn.metrics import r2_score

In [257]:
houses = pd.read_csv('../datasets/train_processed.csv')
houses_test = pd.read_csv('../datasets/test_processed.csv')
houses.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Neighborhood_OldTown,Neighborhood_SWISU,Neighborhood_Sawyer,Neighborhood_SawyerW,Neighborhood_Somerst,Neighborhood_StoneBr,Neighborhood_Timber,Neighborhood_Veenker,floors,bathrooms
0,109,533352170,60,7,69.0552,13517,2,0,1,3,...,0,0,1,0,0,0,0,0,2,3.0
1,544,531379050,60,7,43.0000,11492,2,0,1,3,...,0,0,0,1,0,0,0,0,2,4.0
2,153,535304180,20,7,68.0000,7922,2,0,0,3,...,0,0,0,0,0,0,0,0,1,2.0
3,318,916386060,60,7,73.0000,9802,2,0,0,3,...,0,0,0,0,0,0,1,0,2,3.0
4,255,906425045,50,7,82.0000,14235,2,0,1,3,...,0,0,0,1,0,0,0,0,2,2.0

### Model Creation
---

### Lasso Regression Model

Code borrowed from class 4.02

In [258]:
feature_list = houses.columns.values.tolist()[3:85:1]
# # Very Important to remove SalePrice from our list of features
try:
    feature_list.remove('SalePrice')
except:
    pass

In [259]:
#feature_list

In [260]:
X = houses[feature_list]
y = houses['SalePrice']

X_test = houses_test[feature_list]

In [261]:


ss = StandardScaler()
Z_train = ss.fit_transform(X)
Z_test = ss.transform(X_test)

In [262]:
# Set up a list of Lasso alphas to check.
l_alphas = np.logspace(-3, 0, 100)

# Cross-validate over our list of Lasso alphas.
lasso_cv = LassoCV(alphas=l_alphas, cv=5, max_iter=50000)

# Fit model using best ridge alpha!
lasso_cv.fit(Z_train, y);   

# Borrowed from
# https://git.generalassemb.ly/DSIR-1116/4.02-lesson-regularization/blob/master/solution-code/solution-code.ipynb

With fitted model, predict on test data

In [263]:
y_predicted = lasso_cv.predict(Z_test)

In [264]:
submission = houses_test[['Id']].copy()

In [265]:
submission['SalePrice'] = y_predicted

In [266]:
submission.head()

     Id      SalePrice
0  2658  155410.270317
1  2718  169485.057770
2  2414  218505.200281
3  1989  116863.690734
4   625  187135.544911

In [267]:
submission.to_csv('../datasets/submission_2.csv', index=False)

In [268]:
submission.shape

(878, 2)