# Project 2 - Ames Housing Data
## Preprocessing and Feature Engineering - Train.csv

![House](phil-hearing-house-small.jpg)
Photo by:
https://unsplash.com/photos/IYfp2Ixe9nM?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink

In [489]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [490]:
houses = pd.read_csv('../datasets/train_clean.csv', keep_default_na=False)

In [491]:
houses.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,69.0552,13517,Pave,None,IR1,Lvl,...,0,0,NA,NA,NA,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0000,11492,Pave,None,IR1,Lvl,...,0,0,NA,NA,NA,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0000,7922,Pave,None,Reg,Lvl,...,0,0,NA,NA,NA,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0000,9802,Pave,None,Reg,Lvl,...,0,0,NA,NA,NA,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0000,14235,Pave,None,IR1,Lvl,...,0,0,NA,NA,NA,0,3,2010,WD,138500

In [492]:
houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2042 entries, 0 to 2041
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               2042 non-null   int64
 1   PID              2042 non-null   int64
 2   MS SubClass      2042 non-null   int64
 3   MS Zoning        2042 non-null   object
 4   Lot Frontage     2042 non-null   float64
 5   Lot Area         2042 non-null   int64
 6   Street           2042 non-null   object
 7   Alley            2042 non-null   object
 8   Lot Shape        2042 non-null   object
 9   Land Contour     2042 non-null   object
 10  Utilities        2042 non-null   object
 11  Lot Config       2042 non-null   object
 12  Land Slope       2042 non-null   object
 13  Neighborhood     2042 non-null   object
 14  Condition 1      2042 non-null   object
 15  Condition 2      2042 non-null   object
 16  Bldg Type        2042 non-null   object
 17  House Style      2042 non-null   object
 18  Overall Qual     2042 non-null   int64
 19  Overall Cond     2042 non-null   int64
 20  Year Built       2042 non-null   int64
 21  Year Remod/Add   2042 non-null   int64
 22  Roof Style       2042 non-null   object
 23  Roof Matl        2042 non-null   object
 24  Exterior 1st     2042 non-null   object
 25  Exterior 2nd     2042 non-null   object
 26  Mas Vnr Type     2042 non-null   object
 27  Mas Vnr Area     2042 non-null   float64
 28  Exter Qual       2042 non-null   object
 29  Exter Cond       2042 non-null   object
 30  Foundation       2042 non-null   object
 31  Bsmt Qual        2042 non-null   object
 32  Bsmt Cond        2042 non-null   object
 33  Bsmt Exposure    2042 non-null   object
 34  BsmtFin Type 1   2042 non-null   object
 35  BsmtFin SF 1     2042 non-null   float64
 36  BsmtFin Type 2   2042 non-null   object
 37  BsmtFin SF 2     2042 non-null   float64
 38  Bsmt Unf SF      2042 non-null   float64
 39  Total Bsmt SF    2042 non-null   float64
 40  Heating          2042 non-null   object
 41  Heating QC       2042 non-null   object
 42  Central Air      2042 non-null   object
 43  Electrical       2042 non-null   object
 44  1st Flr SF       2042 non-null   int64
 45  2nd Flr SF       2042 non-null   int64
 46  Low Qual Fin SF  2042 non-null   int64
 47  Gr Liv Area      2042 non-null   int64
 48  Bsmt Full Bath   2042 non-null   float64
 49  Bsmt Half Bath   2042 non-null   float64
 50  Full Bath        2042 non-null   int64
 51  Half Bath        2042 non-null   int64
 52  Bedroom AbvGr    2042 non-null   int64
 53  Kitchen AbvGr    2042 non-null   int64
 54  Kitchen Qual     2042 non-null   object
 55  TotRms AbvGrd    2042 non-null   int64
 56  Functional       2042 non-null   object
 57  Fireplaces       2042 non-null   int64
 58  Fireplace Qu     2042 non-null   object
 59  Garage Type      2042 non-null   object
 60  Garage Yr Blt    2042 non-null   float64
 61  Garage Finish    2042 non-null   object
 62  Garage Cars      2042 non-null   float64
 63  Garage Area      2042 non-null   float64
 64  Garage Qual      2042 non-null   object
 65  Garage Cond      2042 non-null   object
 66  Paved Drive      2042 non-null   object
 67  Wood Deck SF     2042 non-null   int64
 68  Open Porch SF    2042 non-null   int64
 69  Enclosed Porch   2042 non-null   int64
 70  3Ssn Porch       2042 non-null   int64
 71  Screen Porch     2042 non-null   int64
 72  Pool Area        2042 non-null   int64
 73  Pool QC          2042 non-null   object
 74  Fence            2042 non-null   object
 75  Misc Feature     2042 non-null   object
 76  Misc Val         2042 non-null   int64
 77  Mo Sold          2042 non-null   int64
 78  Yr Sold          2042 non-null   int64
 79  Sale Type        2042 non-null   object
 80  SalePrice        2042 non-null   int64
dtypes: float64(11), int64(28), object(42)
memory usage: 1.3+ MB

### Find columns to binarize

#### MS Zoning column

In [493]:
houses['MS Zoning'].value_counts()

RL    1589
RM     316
FV     101
C       19
RH      14
A        2
I        1
Name: MS Zoning, dtype: int64

In [494]:
# Convert RL to 7, RM to 6, FV to 5, C to 4, RH to 3, A to 2, and I to 1
houses['MS Zoning'] = houses['MS Zoning'].map({'RL': 7, 'RM': 6, 'FV': 5,'C': 4, 'RH': 3,
                                               'A': 2, 'I': 1})

houses['MS Zoning'].value_counts()

7    1589
6     316
5     101
4      19
3      14
2       2
1       1
Name: MS Zoning, dtype: int64

#### Street column

In [495]:
houses['Street'].value_counts()

Pave    2035
Grvl       7
Name: Street, dtype: int64

In [496]:
# Convert Pave to 2, and Grvl to 1.  0 will be used later as some features contain None, or NA
houses['Street'] = houses['Street'].map({'Pave': 2, 'Grvl': 1})

houses['Street'].value_counts()

2    2035
1       7
Name: Street, dtype: int64

#### Alley column

In [497]:
houses['Alley'].value_counts()

None    1902
Grvl      85
Pave      55
Name: Alley, dtype: int64

In [498]:
# Convert Pave to 2, and Grvl to 1, None to  0
houses['Alley'] = houses['Alley'].map({'Pave': 2, 'Grvl': 1, 'None': 0})

houses['Alley'].value_counts()

0    1902
1      85
2      55
Name: Alley, dtype: int64

#### Lot Shape

In [499]:
houses['Lot Shape'].value_counts()

Reg    1295
IR1     687
IR2      52
IR3       8
Name: Lot Shape, dtype: int64

In [500]:
# Convert IR3 to 3, IR2 to 2, and IR1 to 1, Reg to  0
houses['Lot Shape'] = houses['Lot Shape'].map({'IR3': 3, 'IR2': 2, 'IR1': 1, 'Reg': 0})

houses['Lot Shape'].value_counts()

0    1295
1     687
2      52
3       8
Name: Lot Shape, dtype: int64

#### Land Contour column

In [501]:
houses['Land Contour'].value_counts()

Lvl    1842
HLS      84
Bnk      78
Low      38
Name: Land Contour, dtype: int64

In [502]:
# Convert Lvl to 3, HLS to 2, and Bnk to 1, Low to  0
houses['Land Contour'] = houses['Land Contour'].map({'Lvl': 3, 'HLS': 2, 'Bnk': 1, 'Low': 0})

houses['Land Contour'].value_counts()

3    1842
2      84
1      78
0      38
Name: Land Contour, dtype: int64

### Utilities is almost entirely AllPub.  Just drop.

In [503]:
houses['Utilities'].value_counts()

AllPub    2040
NoSewr       1
NoSeWa       1
Name: Utilities, dtype: int64

In [504]:
houses.drop('Utilities', axis=1, inplace=True)

#### Lot Config column

In [505]:
houses['Lot Config'].value_counts()

Inside     1498
Corner      346
CulDSac     129
FR2          60
FR3           9
Name: Lot Config, dtype: int64

In [506]:
# Convert Inside to 4, Corner to 3, CulDSac to 2, and FR2 to 1, FR3 to 0
houses['Lot Config'] = houses['Lot Config'].map({'Inside': 4,'Corner': 3, 'CulDSac': 2,
                                                 'FR2': 1, 'FR3': 0})

houses['Lot Config'].value_counts()

4    1498
3     346
2     129
1      60
0       9
Name: Lot Config, dtype: int64

#### Land Slope column

In [507]:
houses['Land Slope'].value_counts()

Gtl    1949
Mod      85
Sev       8
Name: Land Slope, dtype: int64

In [508]:
# Convert Gtl to 2, and Mod to 1, Sev to 0
houses['Land Slope'] = houses['Land Slope'].map({'Gtl': 2, 'Mod': 1, 'Sev': 0})

houses['Land Slope'].value_counts()

2    1949
1      85
0       8
Name: Land Slope, dtype: int64

#### Neighborhood column
Too many to map each one, so create dummy columns

In [509]:
houses['Neighborhood'].value_counts()

NAmes      309
CollgCr    180
OldTown    163
Edwards    141
Somerst    130
NridgHt    122
Gilbert    116
Sawyer     111
NWAmes      87
SawyerW     87
Mitchel     81
BrkSide     76
Crawfor     71
IDOTRR      69
Timber      48
NoRidge     47
StoneBr     38
SWISU       32
ClearCr     24
MeadowV     24
Blmngtn     22
BrDale      19
NPkVill     17
Veenker     16
Blueste      6
Greens       3
GrnHill      2
Landmrk      1
Name: Neighborhood, dtype: int64

In [510]:
houses = pd.get_dummies(houses, columns=['Neighborhood'], drop_first=True)

In [511]:
#list(houses.columns)

#### Condition 1 column

In [512]:
houses['Condition 1'].value_counts()

Norm      1760
Feedr      108
Artery      70
RRAn        36
PosN        27
RRAe        21
PosA        11
RRNn         6
RRNe         3
Name: Condition 1, dtype: int64

In [513]:
# Convert Norm to 8,Feedr to 7, Artery to 6, RRAn to 5, PosN to 4, RRAe to 3, PosA to 2,
# and RRNn to 1, RRNe to 0
houses['Condition 1'] = houses['Condition 1'].map({'Norm': 8,'Feedr': 7, 'Artery': 6, 'RRAn': 5,
                                                   'PosN': 4, 'RRAe': 3, 'PosA': 2, 'RRNn': 1,
                                                  'RRNe': 0})

houses['Condition 1'].value_counts()

8    1760
7     108
6      70
5      36
4      27
3      21
2      11
1       6
0       3
Name: Condition 1, dtype: int64

#### Condition 2 has same categories as Condition 1

In [514]:
houses['Condition 2'].value_counts()

Norm      2016
Feedr       11
Artery       5
PosA         3
PosN         3
RRNn         2
RRAe         1
RRAn         1
Name: Condition 2, dtype: int64

In [515]:
# Convert Norm to 8,Feedr to 7, Artery to 6, RRAn to 5, PosN to 4, RRAe to 3, PosA to 2,
# and RRNn to 1, RRNe to 0
houses['Condition 2'] = houses['Condition 2'].map({'Norm': 8,'Feedr': 7, 'Artery': 6, 'RRAn': 5,
                                                   'PosN': 4, 'RRAe': 3, 'PosA': 2, 'RRNn': 1,
                                                  'RRNe': 0})

houses['Condition 2'].value_counts()

8    2016
7      11
6       5
4       3
2       3
1       2
5       1
3       1
Name: Condition 2, dtype: int64

#### Bldg Type column

In [516]:
houses['Bldg Type'].value_counts()

1Fam      1691
TwnhsE     161
Duplex      75
Twnhs       69
2fmCon      46
Name: Bldg Type, dtype: int64

In [517]:
# Convert 1Fam to 4, TwnhsE to 3, Duplex to 2, and Twnhs to 1, 2fmCon to 0
houses['Bldg Type'] = houses['Bldg Type'].map({'1Fam': 4, 'TwnhsE': 3, 'Duplex': 2, 'Twnhs': 1,
                                                  '2fmCon': 0})

houses['Bldg Type'].value_counts()

4    1691
3     161
2      75
1      69
0      46
Name: Bldg Type, dtype: int64

#### House Style column

In [518]:
houses['House Style'].value_counts()

1Story    1054
2Story     596
1.5Fin     217
SLvl        93
SFoyer      50
2.5Unf      14
1.5Unf      12
2.5Fin       6
Name: House Style, dtype: int64

In [519]:
# Convert 1Story to 7, 2Story to 6, 1.5Fin to 5, Slvl to 4, SFoyer to 3, 2.5Unf to 2,
# and 1.5Unf to 1, 2.5Fin to 0
houses['House Style'] = houses['House Style'].map({'1Story': 7, '2Story': 6, '1.5Fin': 5,
                                                   'SLvl': 4, 'SFoyer': 3, '2.5Unf': 2, '1.5Unf': 1,
                                                  '2.5Fin': 0})

houses['House Style'].value_counts()

7    1054
6     596
5     217
4      93
3      50
2      14
1      12
0       6
Name: House Style, dtype: int64

#### Roof Style

In [520]:
houses['Roof Style'].value_counts()

Gable      1614
Hip         394
Flat         12
Gambrel      12
Mansard       7
Shed          3
Name: Roof Style, dtype: int64

In [521]:
# Convert Gable to 5, Hip to 4, Flat to 3, Gambrel to 2, and Mansard to 1, Shed to 0
houses['Roof Style'] = houses['Roof Style'].map({'Gable': 5, 'Hip': 4, 'Flat': 3,
                                                 'Gambrel': 2, 'Mansard': 1, 'Shed': 0})

houses['Roof Style'].value_counts()

5    1614
4     394
3      12
2      12
1       7
0       3
Name: Roof Style, dtype: int64

#### Roof Matl column

In [522]:
houses['Roof Matl'].value_counts()

CompShg    2020
Tar&Grv      14
WdShake       4
WdShngl       3
Membran       1
Name: Roof Matl, dtype: int64

In [523]:
# Convert CompShg to 4, Tar&Grv to 3, WdShake to 2, and WdShngl to 1, Membran to 0
houses['Roof Matl'] = houses['Roof Matl'].map({'CompShg': 4, 'Tar&Grv': 3,
                                                 'WdShake': 2, 'WdShngl': 1, 'Membran': 0})

houses['Roof Matl'].value_counts()

4    2020
3      14
2       4
1       3
0       1
Name: Roof Matl, dtype: int64

#### Exterior 1st column

In [524]:
houses['Exterior 1st'].value_counts()

VinylSd    724
MetalSd    330
HdBoard    299
Wd Sdng    274
Plywood    150
CemntBd     89
BrkFace     64
WdShing     44
AsbShng     33
Stucco      26
BrkComm      3
CBlock       2
Stone        2
ImStucc      1
AsphShn      1
Name: Exterior 1st, dtype: int64

In [525]:

ext_dict = {'VinylSd':14, 'MetalSd':13, 'HdBoard':12,'Wd Sdng':11,'Plywood':10,
            'CemntBd':9,'BrkFace':8, 'WdShing':7, 'AsbShng':6, 'Stucco': 5,
            'BrkComm': 4, 'Stone': 3,'CBlock': 2, 'ImStucc': 1, 'AsphShn': 0}

houses['Exterior 1st'] = houses['Exterior 1st'].map(ext_dict)

houses['Exterior 1st'].value_counts()

14    724
13    330
12    299
11    274
10    150
9      89
8      64
7      44
6      33
5      26
4       3
3       2
2       2
1       1
0       1
Name: Exterior 1st, dtype: int64

#### Exterior 2nd column

In [526]:
houses['Exterior 2nd'].value_counts()

VinylSd    721
MetalSd    323
HdBoard    274
Wd Sdng    261
Plywood    182
CmentBd     89
Wd Shng     62
BrkFace     34
Stucco      29
AsbShng     28
Brk Cmn     17
ImStucc     11
Stone        6
AsphShn      3
CBlock       2
Name: Exterior 2nd, dtype: int64

In [527]:

ext2_dict = {'VinylSd':14, 'MetalSd':13, 'HdBoard':12,'Wd Sdng':11,'Plywood':10,
            'CmentBd':9,'BrkFace':8, 'Wd Shng':7, 'AsbShng':6, 'Stucco': 5,
            'Brk Cmn': 4, 'Stone': 3,'CBlock': 2, 'ImStucc': 1, 'AsphShn': 0}

houses['Exterior 2nd'] = houses['Exterior 2nd'].map(ext2_dict)

houses['Exterior 2nd'].value_counts()

14    721
13    323
12    274
11    261
10    182
9      89
7      62
8      34
5      29
6      28
4      17
1      11
3       6
0       3
2       2
Name: Exterior 2nd, dtype: int64

#### Mas Vnr Type column - Masonry veneer type

In [528]:
houses['Mas Vnr Type'].value_counts()

None       1236
BrkFace     629
Stone       165
BrkCmn       12
Name: Mas Vnr Type, dtype: int64

In [529]:
houses['Mas Vnr Type'] = houses['Mas Vnr Type'].map({'None': 3, 'BrkFace': 2, 'Stone': 1,
                                                  'BrkCmn': 0})

houses['Mas Vnr Type'].value_counts()

3    1236
2     629
1     165
0      12
Name: Mas Vnr Type, dtype: int64

#### Exter Qual column - Exterior quality

In [530]:
houses['Exter Qual'].value_counts()

TA    1243
Gd     694
Ex      79
Fa      26
Name: Exter Qual, dtype: int64

In [531]:
quality_map = {'Ex':5,'Gd': 4,'TA': 3, 'Fa': 2, 'Po': 1,'NA': 0}

houses['Exter Qual'] = houses['Exter Qual'].map(quality_map)

houses['Exter Qual'].value_counts()

3    1243
4     694
5      79
2      26
Name: Exter Qual, dtype: int64

#### Exter Cond column - exterior condition

In [532]:
houses['Exter Cond'].value_counts()

TA    1770
Gd     214
Fa      49
Ex       7
Po       2
Name: Exter Cond, dtype: int64

In [533]:
houses['Exter Cond'] = houses['Exter Cond'].map(quality_map)

houses['Exter Cond'].value_counts()

3    1770
4     214
2      49
5       7
1       2
Name: Exter Cond, dtype: int64

#### Foundation column

In [534]:
houses['Foundation'].value_counts()

PConc     922
CBlock    858
BrkTil    221
Slab       34
Stone       5
Wood        2
Name: Foundation, dtype: int64

In [535]:
houses['Foundation'] = houses['Foundation'].map({'PConc':5, 'CBlock': 4, 'BrkTil': 3,
                                                 'Slab': 2, 'Stone': 1, 'Wood': 0})

houses['Foundation'].value_counts()

5    922
4    858
3    221
2     34
1      5
0      2
Name: Foundation, dtype: int64

#### Bsmt Qual column - Basement height

In [536]:
houses['Bsmt Qual'].value_counts()

TA    887
Gd    859
Ex    180
Fa     60
NA     55
Po      1
Name: Bsmt Qual, dtype: int64

In [537]:
houses['Bsmt Qual'] = houses['Bsmt Qual'].map(quality_map)

houses['Bsmt Qual'].value_counts()

3    887
4    859
5    180
2     60
0     55
1      1
Name: Bsmt Qual, dtype: int64

#### Bsmt Cond column - Basement condition

In [538]:
houses['Bsmt Cond'].value_counts()

TA    1825
Gd      89
Fa      65
NA      55
Po       5
Ex       3
Name: Bsmt Cond, dtype: int64

In [539]:
houses['Bsmt Cond'] = houses['Bsmt Cond'].map(quality_map)

houses['Bsmt Cond'].value_counts()

3    1825
4      89
2      65
0      55
1       5
5       3
Name: Bsmt Cond, dtype: int64

#### Bsmt Exposure - walkout or garden level walls

In [540]:
houses['Bsmt Exposure'].value_counts()

No    1339
Av     288
Gd     194
Mn     163
NA      58
Name: Bsmt Exposure, dtype: int64

In [541]:
houses['Bsmt Exposure'] = houses['Bsmt Exposure'].map({'No': 4, 'Av': 3, 'Gd': 2, 'Mn': 1, 'NA':0})

houses['Bsmt Exposure'].value_counts()

4    1339
3     288
2     194
1     163
0      58
Name: Bsmt Exposure, dtype: int64

#### BsmtFin Type 1 column

In [542]:
houses['BsmtFin Type 1'].value_counts()

GLQ    609
Unf    603
ALQ    292
BLQ    200
Rec    181
LwQ    102
NA      55
Name: BsmtFin Type 1, dtype: int64

In [543]:
basement_map = {'GLQ':6,'Unf': 5,'ALQ': 4, 'BLQ': 3, 'Rec': 2,'LwQ': 1, 'NA':0}

houses['BsmtFin Type 1'] = houses['BsmtFin Type 1'].map(basement_map)

houses['BsmtFin Type 1'].value_counts()

6    609
5    603
4    292
3    200
2    181
1    102
0     55
Name: BsmtFin Type 1, dtype: int64

#### BsmtFin Type 2 column

In [544]:
houses['BsmtFin Type 2'].value_counts()

Unf    1741
Rec      80
LwQ      60
NA       56
BLQ      48
ALQ      35
GLQ      22
Name: BsmtFin Type 2, dtype: int64

In [545]:
houses['BsmtFin Type 2'] = houses['BsmtFin Type 2'].map(basement_map)
houses['BsmtFin Type 2'].value_counts()

5    1741
2      80
1      60
0      56
3      48
4      35
6      22
Name: BsmtFin Type 2, dtype: int64

#### Heating column

In [546]:
houses['Heating'].value_counts()

GasA    2009
GasW      20
Wall       6
Grav       5
OthW       2
Name: Heating, dtype: int64

In [547]:
houses['Heating'] = houses['Heating'].map({'GasA':4, 'GasW': 3, 'Wall': 2, 'Grav': 1, 'OthW': 0})
houses['Heating'].value_counts()

4    2009
3      20
2       6
1       5
0       2
Name: Heating, dtype: int64

#### Heating QC column - Heating quality and condition

In [548]:
houses['Heating QC'].value_counts()

Ex    1061
TA     594
Gd     317
Fa      67
Po       3
Name: Heating QC, dtype: int64

In [549]:
houses['Heating QC'] = houses['Heating QC'].map(quality_map)
houses['Heating QC'].value_counts()

5    1061
3     594
4     317
2      67
1       3
Name: Heating QC, dtype: int64

#### Central Air

In [550]:
houses['Central Air'].value_counts()

Y    1901
N     141
Name: Central Air, dtype: int64

In [551]:
houses['Central Air'] = houses['Central Air'].map({'Y': 1, 'N': 0})
houses['Central Air'].value_counts()

1    1901
0     141
Name: Central Air, dtype: int64

#### Electrical

In [552]:
houses['Electrical'].value_counts()

SBrkr    1859
FuseA     140
FuseF      35
FuseP       7
Mix         1
Name: Electrical, dtype: int64

In [553]:
houses['Electrical'] = houses['Electrical'].map({'SBrkr':4, 'FuseA': 3, 'FuseF': 2, 'FuseP': 1, 'Mix': 0})

houses['Electrical'].value_counts()

4    1859
3     140
2      35
1       7
0       1
Name: Electrical, dtype: int64

#### Kitchen Qual

In [554]:
houses['Kitchen Qual'].value_counts()

TA    1046
Gd     801
Ex     148
Fa      47
Name: Kitchen Qual, dtype: int64

In [555]:
houses['Kitchen Qual'] = houses['Kitchen Qual'].map(quality_map)
houses['Kitchen Qual'].value_counts()

3    1046
4     801
5     148
2      47
Name: Kitchen Qual, dtype: int64

#### Functional column

In [556]:
houses['Functional'].value_counts()

Typ     1906
Min2      42
Min1      42
Mod       29
Maj1      12
Maj2       7
Sev        2
Sal        2
Name: Functional, dtype: int64

In [557]:
houses['Functional'] = houses['Functional'].map({'Typ':7, 'Min1':6, 'Min2':5, 'Mod': 4, 'Maj1': 3,
                                                 'Maj2': 2, 'Sal': 1, 'Sev': 0})

houses['Functional'].value_counts()

7    1906
6      42
5      42
4      29
3      12
2       7
1       2
0       2
Name: Functional, dtype: int64

#### Fireplace Qu - quality

In [558]:
houses['Fireplace Qu'].value_counts()

NA    1000
Gd     519
TA     402
Fa      59
Ex      31
Po      31
Name: Fireplace Qu, dtype: int64

In [559]:
houses['Fireplace Qu'] = houses['Fireplace Qu'].map(quality_map)
houses['Fireplace Qu'].value_counts()

0    1000
4     519
3     402
2      59
5      31
1      31
Name: Fireplace Qu, dtype: int64

#### Garage Type

In [560]:
houses['Garage Type'].value_counts()

Attchd     1204
Detchd      536
BuiltIn     132
NA          113
Basment      27
2Types       19
CarPort      11
Name: Garage Type, dtype: int64

In [561]:
houses['Garage Type'] = houses['Garage Type'].map({'Attchd':6, 'Detchd': 5, 'BuiltIn': 4, 'NA':3,
                                                 'Basment': 2, '2Types': 1, 'CarPort': 0})

houses['Garage Type'].value_counts()

6    1204
5     536
4     132
3     113
2      27
1      19
0      11
Name: Garage Type, dtype: int64

#### Garage Finish

In [562]:
houses['Garage Finish'].value_counts()

Unf    847
RFn    577
Fin    504
NA     114
Name: Garage Finish, dtype: int64

In [563]:
houses['Garage Finish'] = houses['Garage Finish'].map({'Unf': 2, 'RFn': 1, 'Fin': 0})
houses['Garage Finish'].value_counts()

2.0    847
1.0    577
0.0    504
Name: Garage Finish, dtype: int64

#### Garage Qual column

In [564]:
houses['Garage Qual'].value_counts()

TA    1823
NA     114
Fa      82
Gd      18
Ex       3
Po       2
Name: Garage Qual, dtype: int64

In [565]:
houses['Garage Qual'] = houses['Garage Qual'].map(quality_map)
houses['Garage Qual'].value_counts()

3    1823
0     114
2      82
4      18
5       3
1       2
Name: Garage Qual, dtype: int64

#### Garage Cond - condition

In [566]:
houses['Garage Cond'].value_counts()

TA    1859
NA     114
Fa      47
Gd      12
Po       8
Ex       2
Name: Garage Cond, dtype: int64

In [567]:
houses['Garage Cond'] = houses['Garage Cond'].map(quality_map)
houses['Garage Cond'].value_counts()

3    1859
0     114
2      47
4      12
1       8
5       2
Name: Garage Cond, dtype: int64

#### Paved Drive column

In [568]:
houses['Paved Drive'].value_counts()

Y    1852
N     151
P      39
Name: Paved Drive, dtype: int64

In [569]:
houses['Paved Drive'] = houses['Paved Drive'].map({'Y': 2, 'N': 1, 'P': 0})
houses['Paved Drive'].value_counts()

2    1852
1     151
0      39
Name: Paved Drive, dtype: int64

#### Pool QC

In [570]:
houses['Pool QC'].value_counts()

NA    2034
Gd       3
Fa       2
TA       2
Ex       1
Name: Pool QC, dtype: int64

In [571]:
houses['Pool QC'] = houses['Pool QC'].map(quality_map)
houses['Pool QC'].value_counts()

0    2034
4       3
3       2
2       2
5       1
Name: Pool QC, dtype: int64

#### Fence column

In [572]:
houses['Fence'].value_counts()

NA       1643
MnPrv     226
GdPrv      83
GdWo       80
MnWw       10
Name: Fence, dtype: int64

In [573]:
houses['Fence'] = houses['Fence'].map({'NA':4, 'MnPrv':3, 'GdPrv': 2, 'GdWo': 1, 'MnWw': 0})
houses['Fence'].value_counts()

4    1643
3     226
2      83
1      80
0      10
Name: Fence, dtype: int64

#### Misc Feature

In [574]:
houses['Misc Feature'].value_counts()

NA      1979
Shed      55
Gar2       4
Othr       3
TenC       1
Name: Misc Feature, dtype: int64

In [575]:
houses['Misc Feature'] = houses['Misc Feature'].map({'NA':4, 'Shed':3, 'Gar2': 2, 'Othr': 1, 'TenC': 0})
houses['Misc Feature'].value_counts()

4    1979
3      55
2       4
1       3
0       1
Name: Misc Feature, dtype: int64

#### Sale Type

In [576]:
houses['Sale Type'].value_counts()

WD       1774
New       158
COD        63
ConLD      17
CWD        10
ConLI       7
ConLw       5
Con         4
Oth         4
Name: Sale Type, dtype: int64

In [577]:
houses['Sale Type'] = houses['Sale Type'].map({'WD':8, 'New':7,'COD':6, 'ConLD':5, 'CWD': 4,
                                               'ConLI': 3,'ConLw': 2, 'Oth': 1, 'Con': 0})

houses['Sale Type'].value_counts()

8    1774
7     158
6      63
5      17
4      10
3       7
2       5
1       4
0       4
Name: Sale Type, dtype: int64

In [578]:
houses.iloc[0:20, 0:20]

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Lot Config,Land Slope,Condition 1,Condition 2,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remod/Add
0,109,533352170,60,7,69.0552,13517,2,0,1,3,2,2,3,8,4,6,6,8,1976,2005
1,544,531379050,60,7,43.0000,11492,2,0,1,3,2,2,8,8,4,6,7,5,1996,1997
2,153,535304180,20,7,68.0000,7922,2,0,0,3,4,2,8,8,4,7,5,7,1953,2007
3,318,916386060,60,7,73.0000,9802,2,0,0,3,4,2,8,8,4,6,5,5,2006,2007
4,255,906425045,50,7,82.0000,14235,2,0,1,3,4,2,8,8,4,5,6,8,1900,1993
5,138,535126040,20,7,137.0000,16492,2,0,1,3,3,2,2,8,4,7,6,6,1966,2002
6,2827,908186070,180,6,35.0000,3675,2,0,0,3,4,2,8,8,3,3,6,5,2005,2006
7,145,535154050,20,7,69.0552,12160,2,0,1,3,4,2,8,8,4,7,5,5,1959,1959
8,1942,535353130,20,7,69.0552,15783,2,0,0,3,4,2,6,8,4,7,5,5,1952,1952
9,1956,535426130,60,7,70.0000,11606,2,0,1,2,4,0,8,8,4,6,5,5,1969,1969
10,1044,527451290,160,6,21.0000,1680,2,0,0,3,4,2,8,8,1,6,6,5,1971,1971
11,2752,906380150,20,7,64.0000,7488,2,0,1,3,4,2,8,8,4,7,7,5,2005,2005
12,807,906226060,70,7,120.0000,26400,2,0,0,1,1,2,7,8,4,6,5,7,1880,2007
13,1177,533236070,160,5,24.0000,2645,2,2,0,3,4,2,8,8,1,6,8,5,1999,2000
14,1480,907418040,20,7,74.0000,9627,2,0,0,3,4,2,8,8,4,7,7,5,2007,2007
15,324,923202105,20,7,93.0000,10114,2,0,0,3,4,2,8,8,4,7,5,5,2004,2005
16,1311,902301140,70,6,34.0000,4571,2,1,0,3,4,2,8,8,4,6,5,5,1916,1950
17,770,905101490,20,7,80.0000,8816,2,0,0,3,3,2,7,8,4,7,5,6,1963,1963
18,2063,905107140,20,7,71.0000,8197,2,0,0,3,4,2,8,8,4,7,6,5,1977,1977
19,69,528458070,60,5,72.0000,8640,2,0,0,3,4,2,8,8,4,6,7,5,2009,2009

In [579]:
houses.iloc[0:20, 20:40]

,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Mas Vnr Area,Exter Qual,Exter Cond,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Heating,Heating QC
0,5,4,12,10,2,289.0,4,3,4,3,3,4,6,533.0,5,0.0,192.0,725.0,4,5
1,5,4,14,14,2,132.0,4,3,5,4,3,4,6,637.0,5,0.0,276.0,913.0,4,5
2,5,4,14,14,3,0.0,3,4,4,3,3,4,6,731.0,5,0.0,326.0,1057.0,4,3
3,5,4,14,14,3,0.0,3,3,5,4,3,4,5,0.0,5,0.0,384.0,384.0,4,4
4,5,4,11,10,3,0.0,3,3,5,2,4,4,5,0.0,5,0.0,676.0,676.0,4,3
5,5,4,8,10,3,0.0,4,3,4,3,3,4,4,247.0,2,713.0,557.0,1517.0,4,5
6,5,4,14,14,2,82.0,3,3,5,4,3,2,6,547.0,5,0.0,0.0,547.0,4,4
7,4,4,10,10,2,180.0,3,3,4,3,3,4,2,1000.0,5,0.0,188.0,1188.0,4,2
8,5,4,11,11,3,0.0,3,3,4,3,3,4,2,292.0,5,0.0,632.0,924.0,4,3
9,5,4,10,10,2,192.0,3,3,5,4,3,3,2,650.0,5,0.0,390.0,1040.0,4,3
10,5,4,12,12,2,232.0,3,3,4,3,3,4,4,387.0,5,0.0,96.0,483.0,4,3
11,5,4,14,14,3,0.0,4,3,5,4,3,3,6,393.0,5,0.0,815.0,1208.0,4,5
12,5,4,12,12,3,0.0,4,3,5,0,0,0,0,0.0,0,0.0,0.0,0.0,4,5
13,5,4,13,13,2,456.0,4,3,5,4,3,4,6,813.0,5,0.0,147.0,960.0,4,5
14,5,4,14,14,3,0.0,4,3,5,4,3,3,6,24.0,5,0.0,1327.0,1351.0,4,5
15,5,4,14,14,3,0.0,3,3,5,5,3,3,5,0.0,5,0.0,1430.0,1430.0,4,5
16,5,4,6,6,3,0.0,3,3,3,3,3,4,5,0.0,5,0.0,624.0,624.0,4,2
17,5,4,14,14,3,0.0,3,3,5,3,3,4,2,651.0,5,0.0,470.0,1121.0,4,3
18,5,4,10,10,2,148.0,3,3,4,3,3,4,5,0.0,5,0.0,660.0,660.0,4,5
19,5,4,14,14,3,0.0,3,3,5,4,3,1,6,24.0,5,0.0,732.0,756.0,4,5

In [580]:
houses.iloc[0:20, 40:60]

,Central Air,Electrical,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,Kitchen Qual,TotRms AbvGrd,Functional,Fireplaces,Fireplace Qu,Garage Type,Garage Yr Blt,Garage Finish
0,1,4,725,754,0,1479,0.0,0.0,2,1,3,1,4,6,7,0,0,6,1976.0,1.0
1,1,4,913,1209,0,2122,1.0,0.0,2,1,4,1,4,8,7,1,3,6,1997.0,1.0
2,1,4,1057,0,0,1057,1.0,0.0,1,0,3,1,4,5,7,0,0,5,1953.0,2.0
3,1,4,744,700,0,1444,0.0,0.0,2,1,3,1,3,7,7,0,0,4,2007.0,0.0
4,1,4,831,614,0,1445,0.0,0.0,2,0,3,1,3,6,7,0,0,5,1957.0,2.0
5,1,4,1888,0,0,1888,0.0,0.0,2,1,2,1,4,6,4,1,4,6,1966.0,0.0
6,1,4,1072,0,0,1072,1.0,0.0,2,0,2,1,3,5,7,0,0,2,2005.0,0.0
7,1,4,1188,0,0,1188,1.0,0.0,1,0,3,1,3,6,7,0,0,6,1959.0,1.0
8,1,4,924,0,0,924,0.0,0.0,1,0,2,1,3,6,7,0,0,5,1952.0,2.0
9,1,4,1040,1040,0,2080,0.0,1.0,1,2,5,1,2,9,7,2,3,6,1969.0,2.0
10,1,4,483,504,0,987,0.0,0.0,1,1,2,1,3,4,7,0,0,5,1971.0,2.0
11,1,4,1208,0,0,1208,0.0,0.0,2,0,2,1,4,6,7,0,0,6,2005.0,1.0
12,1,4,1288,728,0,2016,0.0,0.0,1,0,4,1,3,7,4,1,3,6,1900.0,2.0
13,1,4,962,645,0,1607,1.0,0.0,2,1,3,1,4,7,7,0,0,5,2000.0,2.0
14,1,4,1361,0,0,1361,0.0,0.0,2,0,3,1,4,6,7,0,0,6,2007.0,1.0
15,1,4,1430,0,0,1430,0.0,0.0,2,0,3,1,4,7,7,0,0,6,2004.0,1.0
16,0,4,624,720,0,1344,0.0,0.0,1,0,4,1,3,7,7,0,0,5,1916.0,2.0
17,1,4,1121,0,0,1121,1.0,0.0,1,0,3,1,3,5,7,0,0,5,1963.0,2.0
18,1,4,1285,0,0,1285,0.0,0.0,1,1,3,1,3,7,7,1,3,6,1977.0,1.0
19,1,4,764,783,0,1547,0.0,0.0,2,1,3,1,4,7,7,0,0,6,2009.0,2.0

In [581]:
houses.iloc[0:20, 60:80]

,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,Neighborhood_Blueste
0,2.0,475.0,3,3,2,0,44,0,0,0,0,0,4,4,0,3,2010,8,130500,0
1,2.0,559.0,3,3,2,0,74,0,0,0,0,0,4,4,0,4,2009,8,220000,0
2,1.0,246.0,3,3,2,0,52,0,0,0,0,0,4,4,0,1,2010,8,109000,0
3,2.0,400.0,3,3,2,100,0,0,0,0,0,0,4,4,0,4,2010,8,174000,0
4,2.0,484.0,3,3,1,0,59,0,0,0,0,0,4,4,0,3,2010,8,138500,0
5,2.0,578.0,3,3,2,0,0,0,0,0,0,0,4,4,0,6,2010,8,190000,0
6,2.0,525.0,3,3,2,0,44,0,0,0,0,0,4,4,0,6,2006,7,140000,0
7,2.0,531.0,3,3,2,0,0,0,0,0,0,0,3,4,0,5,2010,6,142000,0
8,1.0,420.0,3,3,2,0,324,0,0,0,0,0,3,3,400,6,2007,8,112500,0
9,2.0,504.0,3,3,2,335,0,0,0,0,0,0,4,4,0,9,2007,8,135000,0
10,1.0,264.0,3,3,2,0,0,0,0,0,0,0,4,4,0,7,2008,6,85400,0
11,2.0,632.0,3,3,2,105,58,0,0,0,0,0,4,4,0,2,2006,8,183600,0
12,2.0,576.0,3,3,0,0,0,0,0,0,0,0,4,4,0,6,2009,8,131000,0
13,2.0,480.0,3,3,2,169,0,0,0,0,0,0,4,4,0,12,2008,5,200000,0
14,2.0,610.0,3,3,2,0,50,0,0,0,0,0,4,4,0,6,2008,8,193000,0
15,2.0,624.0,3,3,2,0,0,0,0,0,0,0,4,4,0,3,2010,8,173500,0
16,3.0,513.0,2,2,2,0,0,96,0,0,0,0,4,4,0,5,2008,6,98000,0
17,2.0,480.0,3,3,2,0,80,0,0,0,0,0,3,4,0,6,2009,8,139000,0
18,2.0,528.0,3,3,2,138,0,0,0,0,0,0,3,4,0,4,2007,8,143500,0
19,2.0,614.0,3,3,2,169,45,0,0,0,0,0,4,4,0,6,2010,0,215200,0

In [582]:
houses.iloc[0:20, 80:120]

,Neighborhood_BrDale,Neighborhood_BrkSide,Neighborhood_ClearCr,Neighborhood_CollgCr,Neighborhood_Crawfor,Neighborhood_Edwards,Neighborhood_Gilbert,Neighborhood_Greens,Neighborhood_GrnHill,Neighborhood_IDOTRR,...,Neighborhood_NoRidge,Neighborhood_NridgHt,Neighborhood_OldTown,Neighborhood_SWISU,Neighborhood_Sawyer,Neighborhood_SawyerW,Neighborhood_Somerst,Neighborhood_StoneBr,Neighborhood_Timber,Neighborhood_Veenker
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
14,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [583]:
houses.shape

(2042, 106)

In [588]:
houses.info(verbose=True, null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2042 entries, 0 to 2041
Data columns (total 106 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    2042 non-null   int64
 1   PID                   2042 non-null   int64
 2   MS SubClass           2042 non-null   int64
 3   MS Zoning             2042 non-null   int64
 4   Lot Frontage          2042 non-null   float64
 5   Lot Area              2042 non-null   int64
 6   Street                2042 non-null   int64
 7   Alley                 2042 non-null   int64
 8   Lot Shape             2042 non-null   int64
 9   Land Contour          2042 non-null   int64
 10  Lot Config            2042 non-null   int64
 11  Land Slope            2042 non-null   int64
 12  Condition 1           2042 non-null   int64
 13  Condition 2           2042 non-null   int64
 14  Bldg Type             2042 non-null   int64
 15  House Style           2042 non-null   int64
 16  Overall Qual          2042 non-null   int64
 17  Overall Cond          2042 non-null   int64
 18  Year Built            2042 non-null   int64
 19  Year Remod/Add        2042 non-null   int64
 20  Roof Style            2042 non-null   int64
 21  Roof Matl             2042 non-null   int64
 22  Exterior 1st          2042 non-null   int64
 23  Exterior 2nd          2042 non-null   int64
 24  Mas Vnr Type          2042 non-null   int64
 25  Mas Vnr Area          2042 non-null   float64
 26  Exter Qual            2042 non-null   int64
 27  Exter Cond            2042 non-null   int64
 28  Foundation            2042 non-null   int64
 29  Bsmt Qual             2042 non-null   int64
 30  Bsmt Cond             2042 non-null   int64
 31  Bsmt Exposure         2042 non-null   int64
 32  BsmtFin Type 1        2042 non-null   int64
 33  BsmtFin SF 1          2042 non-null   float64
 34  BsmtFin Type 2        2042 non-null   int64
 35  BsmtFin SF 2          2042 non-null   float64
 36  Bsmt Unf SF           2042 non-null   float64
 37  Total Bsmt SF         2042 non-null   float64
 38  Heating               2042 non-null   int64
 39  Heating QC            2042 non-null   int64
 40  Central Air           2042 non-null   int64
 41  Electrical            2042 non-null   int64
 42  1st Flr SF            2042 non-null   int64
 43  2nd Flr SF            2042 non-null   int64
 44  Low Qual Fin SF       2042 non-null   int64
 45  Gr Liv Area           2042 non-null   int64
 46  Bsmt Full Bath        2042 non-null   float64
 47  Bsmt Half Bath        2042 non-null   float64
 48  Full Bath             2042 non-null   int64
 49  Half Bath             2042 non-null   int64
 50  Bedroom AbvGr         2042 non-null   int64
 51  Kitchen AbvGr         2042 non-null   int64
 52  Kitchen Qual          2042 non-null   int64
 53  TotRms AbvGrd         2042 non-null   int64
 54  Functional            2042 non-null   int64
 55  Fireplaces            2042 non-null   int64
 56  Fireplace Qu          2042 non-null   int64
 57  Garage Type           2042 non-null   int64
 58  Garage Yr Blt         2042 non-null   float64
 59  Garage Finish         1928 non-null   float64
 60  Garage Cars           2042 non-null   float64
 61  Garage Area           2042 non-null   float64
 62  Garage Qual           2042 non-null   int64
 63  Garage Cond           2042 non-null   int64
 64  Paved Drive           2042 non-null   int64
 65  Wood Deck SF          2042 non-null   int64
 66  Open Porch SF         2042 non-null   int64
 67  Enclosed Porch        2042 non-null   int64
 68  3Ssn Porch            2042 non-null   int64
 69  Screen Porch          2042 non-null   int64
 70  Pool Area             2042 non-null   int64
 71  Pool QC               2042 non-null   int64
 72  Fence                 2042 non-null   int64
 73  Misc Feature          2042 non-null   int64
 74  Misc Val              2042 non-null   int64
 75  Mo Sold               2042 non-null   int64
 76  Yr Sold               2042 non-null   int64
 77  Sale Type             2042 non-null   int64
 78  SalePrice             2042 non-null   int64
 79  Neighborhood_Blueste  2042 non-null   uint8
 80  Neighborhood_BrDale   2042 non-null   uint8
 81  Neighborhood_BrkSide  2042 non-null   uint8
 82  Neighborhood_ClearCr  2042 non-null   uint8
 83  Neighborhood_CollgCr  2042 non-null   uint8
 84  Neighborhood_Crawfor  2042 non-null   uint8
 85  Neighborhood_Edwards  2042 non-null   uint8
 86  Neighborhood_Gilbert  2042 non-null   uint8
 87  Neighborhood_Greens   2042 non-null   uint8
 88  Neighborhood_GrnHill  2042 non-null   uint8
 89  Neighborhood_IDOTRR   2042 non-null   uint8
 90  Neighborhood_Landmrk  2042 non-null   uint8
 91  Neighborhood_MeadowV  2042 non-null   uint8
 92  Neighborhood_Mitchel  2042 non-null   uint8
 93  Neighborhood_NAmes    2042 non-null   uint8
 94  Neighborhood_NPkVill  2042 non-null   uint8
 95  Neighborhood_NWAmes   2042 non-null   uint8
 96  Neighborhood_NoRidge  2042 non-null   uint8
 97  Neighborhood_NridgHt  2042 non-null   uint8
 98  Neighborhood_OldTown  2042 non-null   uint8
 99  Neighborhood_SWISU    2042 non-null   uint8
 100 Neighborhood_Sawyer   2042 non-null   uint8
 101 Neighborhood_SawyerW  2042 non-null   uint8
 102 Neighborhood_Somerst  2042 non-null   uint8
 103 Neighborhood_StoneBr  2042 non-null   uint8
 104 Neighborhood_Timber   2042 non-null   uint8
 105 Neighborhood_Veenker  2042 non-null   uint8
dtypes: float64(12), int64(67), uint8(27)
memory usage: 1.3 MB